<article>
    <header>
        <h1>{{post.title}}</h1>
        <small>{{post.datePosted}}</small>
    </header>
    <main>
        <p>{{post.content}}</p>
        <button id="edit-button" class="hidden only-for-user-{{post.userId}}">Edit</button>
        <button id="delete-button" class="hidden only-for-user-{{post.userId}}">Delete</button>
    </main>
</article>

<section class="comments">
    <h1>Comments</h1>
    {{#each post.comments}}
    <h5>{{this.user.username}} - {{this.datePosted}} </h5>
    <p>{{this.content}}</p>
    {{/each}}

    <form id="comment-form">
        <div class="errors"></div>
        <label>
            Leave a comment...
            <textarea name="content"></textarea>
            <input type="hidden" name="blog-post-id" value="{{post.id}}" />
        </label>

        <button>Submit</button>
    </form>
</section>

<script>
    document.querySelector("#comment-form").onsubmit = async (e) => {
        e.preventDefault();

        try {
            const response = await fetch(`/api/comment`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    content: document.querySelector("[name='content']").value,
                    blogPostId: document.querySelector("[name='blog-post-id']").value,
                })
            })

            if (response.redirected) {
                location.href = response.url;
                return;
            }

            const data = await response.json();
            if (!response.ok) {
                throw new CustomError(data.message, response.status);
            }
        } catch (error) {
            if (error.code) {
                document.querySelector(".errors").innerHTML = error.message;
            } else {
                throw error;
            }
        }
    }

    document.querySelector("#edit-button").onclick = () => {
        location.href = "/post/{{post.id}}/edit";
    }

    document.querySelector("#delete-button").onclick = async () => {

    }
</script>